.profile-links {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.profile-link:hover {
  color: #2563eb;
}

.profile-link img {
  width: 8px;
  height: 8px;
}

.profile-link .icon {
  font-size: 20px;
}

